.box-center {
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
}

.card-img-center {
  width: 20%;
  display: block;
  margin: auto;
  border-radius: 50%;
  max-width: 150px;
}
